/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* File Content
==================================================================================
==================================================================================
# Components
  – buttons
  – list
  – nav
  – dropdowns
==================================================================================
==================================================================================
*/


/* 
==================================================================================
==================================================================================
 list
==================================================================================
==================================================================================
*/

/* 
==================================================================================
header
==================================================================================
*/

.header_ul {
	display: flex;
	justify-content: space-between;
}

.header_li {
	background-color: tomato;
	width: auto;
	height: 38px;
	padding: 10px;
}

/* 
==================================================================================
footer
==================================================================================
*/

.footer_ul {
	background-color: yellow;
	width: 19.9%;
	height: 100%;
}

.footer_ul li {
	background-color: turquoise;
	width: 100%;
	height: 23px;
	margin-bottom: 24px;
}

.mid_ul {
	background-color: salmon;
	width: 46.2%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.mid_ul li {
	background-color: chartreuse;
	display: inline-block;
	width: auto;
}

.btm_ul {
	background-color: turquoise;
	width: 77.2%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.btm_ul li {
	background-color: chartreuse;
	display: inline-block;
	width: auto;
}

/* 
==================================================================================
==================================================================================
 nav
==================================================================================
==================================================================================
*/

/* 
==================================================================================
header nav
==================================================================================
*/

.header_nav {
	background-color: yellow;
	width: 54.5%;
	height: 38px;
}

/* 
==================================================================================
footer nav
==================================================================================
*/

.footer_nav {
	background-color: tan;
	width: 86.48%;
	height: 683.667px;
	border-bottom: 1px solid blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* 
==================================================================================
==================================================================================
 dropdowns
==================================================================================
==================================================================================
*/

.drop_down {
	display: none;
}