/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* File Content
==================================================================================
==================================================================================
# Components
  – buttons
  – list
  – nav
  – dropdowns
==================================================================================
==================================================================================
*/


/* 
==================================================================================
==================================================================================
==================================================================================
 list
==================================================================================
==================================================================================
==================================================================================
*/

/* 
==================================================================================
header
==================================================================================
*/

.header_ul {
	display: flex;
	justify-content: space-between;
}

.header_li {
	background-color: tomato;
	width: auto;
	height: 38px;
	padding: 10px;
	max-width: max-content;
}

/* 
==================================================================================
footer
==================================================================================
*/

.footer_ul {
	background-color: yellow;
	width: 19.9%;
	height: 100%;
}

.footer_ul li {
	background-color: turquoise;
	width: 100%;
	height: 23px;
	margin-bottom: 24px;
}

.mid_ul {
	background-color: salmon;
	width: 46.2%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.mid_ul li {
	background-color: chartreuse;
	display: inline-block;
	width: auto;
}

.btm_ul {
	background-color: turquoise;
	width: 77.2%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.btm_ul li {
	background-color: chartreuse;
	display: inline-block;
	width: auto;
}

/* 
==================================================================================
==================================================================================
==================================================================================
 nav
==================================================================================
==================================================================================
==================================================================================
*/

/* 
==================================================================================
header nav
==================================================================================
*/

.header_nav {
	background-color: yellow;
	width: 54.5%;
	height: 38px;
	z-index: 200;
}

/* 
==================================================================================
footer nav
==================================================================================
*/

.footer_nav {
	background-color: tan;
	width: 86.48%;
	height: 683.667px;
	border-bottom: 1px solid blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* 
==================================================================================
==================================================================================
==================================================================================
 dropdowns
==================================================================================
==================================================================================
==================================================================================
*/


/* 
==================================================================================
==================================================================================
general
==================================================================================
==================================================================================
*/

.drop_cont {
	display: inline-block;
}

.header_li:hover ~ .drop_down {
	display: flex;
	position: absolute;
}

.drop_down:hover {
	display: inline-block;
	position: absolute;
}

.drop_img {
	background-color: cadetblue;
	width: 45px;
	height: 45px;
	border-radius: 10px;
	display: inline-block;
	margin: auto 2px;
}

.drop_p {
	background-color: tan;
	width: 230.6px;
	height: auto;
	display: inline-block;
}

.drop_down {
	background-color: firebrick;
	display: none;
	z-index: 100;
	width: auto;
}

/* 
==================================================================================
Business
==================================================================================
*/

.business:hover {
	display: flex;
	position: absolute;
	width: auto;
	height: auto;
	justify-content: space-between;
	align-content: space-between;
}

.busi_aside {
	background-color: yellowgreen;
	display: inline-block;
	width: 235px;
	height: 496px;
	padding: 5px;
}

.busi_aside p {
	background-color: antiquewhite;
	width: 98%;
	margin: 0 auto;
	padding: 20px 20px;
	border-radius: 10px;
}

.busi_main {
	background-color: yellow;
	display: inline-block;
	width: 318px;
	height: 496px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.busi_main_cont {
	background-color: green;
	width: 289px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}



/* 
==================================================================================
smes
==================================================================================
*/

.sme {
	position: absolute;
	width: 832px;
	height: 439px;
	left: 400px;
}

.sme:hover {
	position: absolute;
	display: flex;
	height: 439px;
	left: 400px;
}

.sme_aside {
	background-color: yellowgreen;
	width: 235px;
	height: 439px;
}

.sme_aside p {
	background-color: antiquewhite;
	width: 98%;
	margin: 0 auto;
	padding: 20px 20px;
	border-radius: 10px;
}

.sme_main {
	background-color: yellow;
	width: 596px;
	height: 439px;
	display: inline-block;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-content: space-around;
}

.sme_main_hold {
	width: auto;
	height: auto;
	display: inline-block;
}

.sme_main_cont {
	background-color: green;
	width: 289px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}

/* 
==================================================================================
individual
==================================================================================
*/

.header_li:hover ~ .individual {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	position: absolute;
}

.individual {
	position: absolute;
	background-color: wheat;
	width: 318px;
	height: 437px;
}

.individual:hover {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

.ind_main_hold {
	display: block;
	width: auto;
	height: auto;
}

.ind_main_cont {
	background-color: turquoise;
	width: auto;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.ind_barcode {
	width: 100%;
	height: 80px;
	border: 1px dotted gray;
}

/* 
==================================================================================
resources
==================================================================================
*/

.header_li:hover ~ .resource {
	display: block;
	position: absolute;
	width: 182px;
	height: 186px;
}

.resource {
	position: absolute;
	background-color: wheat;
}

.resource:hover {
	position: absolute;
	display: block;
	width: 182px;
	height: 186px;
}

.resource_cont p {
	background-color: aqua;
	width: 96%;
	height: 45px;
	margin: 0 auto;
	padding: 10px;
}

/* 
==================================================================================
developers
==================================================================================
*/

.header_li:hover ~ .developer {
	display: block;
	position: absolute;
	width: 182px;
	height: 148px;
}

.developer {
	position: absolute;
	background-color: wheat;
}

.developer:hover {
	position: absolute;
	display: block;
	width: 182px;
	height: 148px;
}

.developer_cont p {
	background-color: aqua;
	width: 96%;
	height: 45px;
	margin: 0 auto;
	padding: 10px;
}

/* 
==================================================================================
company
==================================================================================
*/

.header_li:hover ~ .company {
	display: block;
	position: absolute;
	width: 182px;
	height: 114px;
}

.company {
	position: absolute;
	background-color: wheat;
}

.company:hover {
	position: absolute;
	display: block;
	width: 182px;
	height: 114px;
}

.company_cont p {
	background-color: aqua;
	width: 96%;
	height: 45px;
	margin: 0 auto;
	padding: 10px;
}


/* 
==================================================================================
==================================================================================
==================================================================================
select
==================================================================================
==================================================================================
==================================================================================
*/

.drop_downs {
	display: none;
}

.selected_country {
	background-color: teal;
	display: inline-block;
	width: 100px;
	height: 100%;
}

.selected_country:hover ~ .drop_downs {
	display: block;
	position: absolute;
}

.drop_downs:hover {
	position: absolute;
	background-color: cornflowerblue;
	display: block;
	width: auto;
	height: auto;
	bottom: -300px;
}


